/* Glyphicons*/
/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"); */

.App {
  font-family: sans-serif;
  text-align: center;
}
.login {
  font-family: sans-serif;
}
.form-title {
  padding-bottom: 100px;
}
.title-home {
  padding-left: 20px;
}
.slist-font-grey {
  color: #808080;
  font-weight: bold;
  font-size: 55px;
}
.slist-font-blue {
  color: #33ffdd;
  font-weight: bold;
  font-size: 55px;
}
.slist-font-grey-home {
  color: #808080;
  font-size: 40px;
}
.slist-font-blue-home {
  color: #33ffdd;
  font-size: 40px;
}
#login-form {
  text-align: center;
  margin: auto;
  width: 50%;
}
.form-inputs {
  padding: 40px 40px;
  width: -webkit-fill-available;
  margin: 40px 40px;
  border: none;
}
.form-input-button {
  display: block;
  padding: 15px 30px;
  width: -webkit-fill-available;
  margin: 20px 40px;
  color: #ffff;
  background-color: #33adff;
  font-size: 30px;
  border-radius: 5px;
  line-height: 5px;
  height: 70px;
}
.form-input-button-loadmore {
  display: block;
  padding: 5px 40px;
  width: 100%;
  height: 50px;
  margin: 20px 40px;
  color: #ffff;
  background-color: #33adff;
  font-size: 20px;
  border-radius: 5px;
}

.error-message {
  background-color: #fffacd;
  padding: 1em;
  margin: 60px 60px;
}
.message-home {
  background-color: #fffacd;
  padding: 1em;
  margin: 20px 20px;
}
.user-icon-home {
  width: 50px;
  height: 50px;
}
.label-count {
  color: white;
  padding: 8px;
  background-color: #f44336;
  border-radius: 25px;
  font-weight: bold;
  margin-left: 50px;
  -webkit-box-shadow: 5px 5px 10px #666;
  -moz-box-shadow: 5px 5px 10px #666;
  box-shadow: 5px 5px 10px #666;
}
.login-details-content {
  float: right;
  margin-top: 28px;
}
.back-arrow {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.about-text {
  color: #212529;
}
.search-bar {
  margin-top: 50px;
}
.search-bar-info {
  margin-top: 60px;
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
.filter-dropdown {
  border: none;
  background-color: #fff;
}
.filter-by {
  color: #212529;
  background-color: none;
  border: 1px solid #ced4da;
  background-color: #fff;
}
.filter-drop-down {
  color: #808080;
  font-size: 15px;
  background-color: #fff;
}

.student-list-grey {
  margin: 17px;
  background-color: #d9d9d9;
  max-width: 22%;
}
.student-list-blue {
  margin: 17px;
  background-color: #99bbff;
  max-width: 22%;
}
.student-image-home {
  width: 70px;
  height: 80px;
  margin: 10px 0px;
}

.student-details-home {
  margin: 20px 0px;
  overflow-wrap: break-word;
}

.student-details-p {
  margin-bottom: 0;
}
.student-switch-icon-p {
  float: right;
  margin-bottom: 5px;
}
.home-container {
  font-family: monospace;
  border: solid 2px #d9d9d9;
  margin-top: 50px;
  margin-bottom: 50px;
}
.home-container-main {
  font-family: monospace;
  border: solid 2px #d9d9d9;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.pl0 {
  padding-left: 0;
}
.student-card-bold {
  font-weight: 900;
}
.switch-icon {
  width: 25px;
  height: 20px;
  cursor: pointer;
}
.switch-icon-disabled {
  width: 25px;
  height: 20px;
  pointer-events: none;
  opacity: 0.2;
}
.input-red {
  border-bottom: solid 5px red;
}
.search-bar-home {
  height: 50px;
}
.attendance-info-absent {
  margin-bottom: 5px;
}
.attendance-info-present {
  margin-bottom: 0;
}
.icon-absent {
  height: 5px;
  width: 5px;
  background-color: #d9d9d9;
  margin-right: 10px;
  border: solid 1px;
}
.icon-present {
  height: 5px;
  width: 5px;
  background-color: #99bbff;
  margin-right: 10px;
  border: solid 1px;
}
.home-header {
  margin-top: 50px;
  padding-left: 0px;
  padding-bottom: 20px;
}
.icon-close {
  width: 25px;
  float: right;
  cursor: pointer;
}
.search-button {
  background-color: #ffff;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9Q50zFTY9W7H3mXJ4bCrXPE421xs5YtAfBckRh1C7fJhbk06w");
  border-left: none;
  border: 1px solid #ced4da;
  width: 50px;
}
.loading-icon {
  text-align: center;
}
